# Python
__pycache__/
*.py[cod]
db.sqlite3
.env

# Django
/static/
media/

# Node
node_modules/
dist/
build/
frontend/result_build/

# Docker
*.log
*.pid
*.sock
*.db
*.tar
*.bak

# System
.DS_Store
Thumbs.db

# Virtual env
venv/
.env/.idea
